# Junk left behind by...
# autotools
        *.log
        *.cache
        *.m4
        *.o
        */*/*.o
        depcomp
        install-sh
        missing
        configure
        config.status

# gprof
        *.out
        */*.out

# objdump
        *.s

# vim
        *.swp
        .*.sw*
        */*/.*.sw* # ffs 

# Big files that shouldn't be accidentally committed
        *.pdf
        *.djvu
        *.jpg
        *.jpeg
        *.Jpg
        *.Jpeg
        *.JPG
        *.JPEG
        *.gif
        *.Gif
        *.GIF
        *.png
        *.Png
        *.PNG
